body{
	margin: 0;
	padding: 0;
	background-color: #000;

}
.container{
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.button{
	position: relative;
	text-align: center;
	width: 250px;
	padding: 40px;
	font-size: 35px;
	color: #ff6ec7;
	font-family: poppins;
	font-weight: 400;
	border: 5px solid #ff6ec7;
	text-transform: uppercase;
	letter-spacing: 15px;
	cursor: pointer;
	border-radius: 100px;
	transition: 1.5s;
}
.button:hover{
	box-shadow: 0 5px 50px 0 #ff6ec7 inset,0 5px 50px 0 #ff6ec7,
				0 5px 50px 0 #ff6ec7 inset,0 5px 50px 0 #ff6ec7;
}